{% extends "base.html" %}

{% block title %} About {% endblock %} 

{% block heading %}
About Us
{% endblock %}

{% block content %}
    <div class="about-section" style="background: hsla(91, 46%, 54%, 0.239); padding: 2rem; border-radius: 10px; box-shadow: 0 2px 8px rgba(0,0,0,0.05); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <p style="font-size: 1.15rem; color: #532e2e;;">
            We are a passionate non-profit dedicated to rescuing and rehoming plants in need.<br>
            Our mission is to help you connect with <strong>plantastic petal partners</strong> and bring more green into your life!
        </p>
        <p style="font-size: 1.1rem; color: #532e2e;">
            Every plant you discover here has been <b><em>“pot it forward”</em></b> by a caring soul or <b><em>“green given”</em></b> by us, ready to thrive in a new home.
        </p>
        <blockquote style="margin: 1.5rem 0; padding: 1rem 1.5rem; background: #d4e4d4; border-left: 5px solid #439846; font-family: cursive; font-weight: 600; font-style: italic; color: #256029; text-align: center; max-width: fit-content; border-radius: 3%;">
           We are driven by the motto &#x1F343; “Leaf and Let Live” &#x1F343;
        </blockquote>
        <p style="color: #532e2e;">
            Join us in rooting for a greener tomorrow—adopt, nurture, and grow with the flow!
        </p>
    </div></p>
{% endblock %}

<!-- 
Leaf & Let Live
Adopt-a-Leaf
Rooted friends
Petal Partners
Rooting for you
pot it forward
leaf it to us
grow with the flow
plantastic friends
root awakening
-->
